# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider
.idea/

# Logs
*.log

# NuGet packages
*.nupkg
# The packages folder can be ignored because of package restore
packages/

# Visual Studio Code settings
.vscode/

# Others
*.dbmdl
*.bak
*.backup
*.swp
*.lock.json

# Publish folder
publish/

# Docker files if you want (optional)
docker-compose.override.yml
